.movie {
    text-align: center;
    background: #f1f1f1;
    padding: 10px;
    max-width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.movieFooter {
    margin-top: 20px;
}

.movieFooter a {
    background: lightblue;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;

}

.movieFooter a:hover {
    background: darkblue;
    color: white;
}